'exception-reporting':
  'userId': '656a8697-dbe3-ab8c-9789-9cd6895bbeae'
'release-notes':
  'viewedVersion': '0.73.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8830933d33c4e783209d18421e336bfbdfae096b'
'editor':
  'fontSize': 20
  'fontFamily': 'Consolas'
  'softWrap': true
  'showIndentGuide': true
  'softWrapAtPreferredLineLength': true
'core':
  'themes': [
    'spacegray-dark-ui'
    'base16-ocean-dark-spacegray'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'disabledPackages': [
    'vim-mode'
  ]
  'destroyEmptyPanes': false
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'autocomplete-plus': {}
