'exception-reporting':
  'userId': '656a8697-dbe3-ab8c-9789-9cd6895bbeae'
'release-notes':
  'viewedVersion': '0.61.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8830933d33c4e783209d18421e336bfbdfae096b'
'editor':
  'fontSize': 19
  'fontFamily': 'Consolas'
  'softWrap': true
'core':
  'themes': [
    'atom-light-ui'
    'fizzy'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
